.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
  }
  
  .options {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .option {
    margin: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .option:hover {
    background-color: #333;
    color: #fff;
  }
  
  .result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }